@import "../../stylings/_variables.scss";
@import "../../stylings/_mixins.scss";

$edu-border-radius: 0.4vw;
$edu-image-height: 262px;

.edu-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/education_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#education-content {
  color: white;
  padding: 80px 0 150px 0;
  transform: skew(0deg, $bg-skew);

  @media screen and (max-width: $media-m) {
    padding: 50px 0 80px 0;
  }

  .schools {
    width: 80%;
    margin: 0 auto;

    h1 {
      background-color: #000;
      color: #f7911b;
      text-align: center;
      padding: 8px 0;
      border-radius: $edu-border-radius;
      border-bottom: solid 1px #5c5c5c;
      font-size: 3vw;
    }

    .content {
      background-color: rgba(0,0,0,0.82);
      border-radius: 5px;
      margin: 0 0 1vw 0;
      padding: 1.5vw;
      border-radius: $edu-border-radius;
      display: flex;

      .degree-content {
        width: 70%;

        h2 {
          font-family: 'Grenze', serif;
          font-size: 2.2vw;
          width: 100%;
          text-align: center;
          color: white;
          margin: 2.5vw 0 1.5vw 0;
        }

        p {
          font-size: 1.3vw;
          margin: 0 auto;
          width: 60%;
        }

        a {
          font-size: 1.5vw;
          color: rgb(0, 204, 204);

          &:hover {
            color: yellow;
          }
        }
      }

      .degree-image {
        @include flex();
        width: 40%;

        img {
          width: 100%;
          border-radius: 6px;
        }
      }
    }
  }
}
