@import '../../styles.scss';
@import '../../stylings/_variables.scss';
@import '../../stylings/_mixins.scss';

footer {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  background-color: $bg-default-color;
  border-top: solid 1px #625e7a;
  font-family: 'Open Sans', sans-serif;
}

.ftr-half {
  @include flex();
  width: 48%;
  font-size: 1.1vw;
  @media screen and (max-width: $media-l) {
    font-size: 11px;
  }
}

.copyright {
  @extend .ftr-half;
  color: white;
}

.privacy_policy_ftr {
  @extend .ftr-half;
}

.privacy_policy_ftr a {
  color: #e08800;
  transition: ease 0.6s;
  cursor: pointer;
  text-decoration: underline;
}

.privacy_policy_ftr a:hover {
  transition: ease 0.6s;
  text-shadow: 0 0 18px white;
}

.setPrivacyPolicyVisible {
  position: absolute;
  bottom: 0;
}

.cookiesPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  padding: 18px 0;
  @media screen and (max-width: $media-m) {
    height: 150px;
  }
}

.CookiePopupContentText {
  text-align: center;
  font-size: 22px;
  padding: 0 0 12px 0;
  width: 90%;

  @media screen and (max-width: $media-m) {
    font-size: 15px;
  }
}

.CookiesPopupContentButtons {
  display: flex;
}

.CookiesPopupContentButton {
  margin: 10px;
}

.PrivacyPolicyModalContent {
  background-color: white;
  border: 2px solid black;
  width: 500px;
  height: 80%;
  padding: 30px 60px;
  overflow: auto;
}

.ClosePrivacyModalCrossRow {
  float: right;
  cursor: pointer;
}
