@import "../../stylings/_variables.scss";
@import "../../stylings/_mixins.scss";

#project-content {
  padding: $content-padding;
  color: white;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  h2 {
    width: 100%;
    text-align: center;
    margin: 3vw 0 1vw 0;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.project-item {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 49%;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.project {
  position: relative;
  margin: 1vw;
  padding: 10px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #111;
  width: 280px;
  height: 250px;
  transition: ease 0.1s;
  touch-action: auto !important;
  @media only screen and (max-width: 480px) {
    width: 220px;
    height: 190px;
  }

  h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 14px;
    @media only screen and (max-width: 480px) {
      font-size: 17px;
    }
  }

  &:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
    -webkit-box-shadow: 0 0 10px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 0 0 10px 1px rgba(255,255,255,0.75);
    box-shadow: 0 0 10px 1px rgba(150,150,150,0.75);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }
}
