@import '../../stylings/_variables.scss';
@import '../../stylings/_mixins.scss';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.contact-wrapper {
  background-color: $bg-default-color;
  padding-top: 150px;
  padding-bottom: 50px;
  color: #fff;
  @media screen and (max-width: $media-xl) {
    padding-top: 125px;
  }
  @media screen and (max-width: $media-m) {
    padding-top: 100px;
  }
}

.contact-wrapper-big {
  @extend .contact-wrapper;
  padding-top: 280px;
  @media screen and (max-width: $media-xl) {
    padding-top: 255px;
  }
  @media screen and (max-width: $media-m) {
    padding-top: 245px;
  }
}
#contact-content {
  display: flex;
  @media screen and (max-width: $media-l) {
    flex-direction: column;
    padding: 0 0 10px;
    align-items: center;
  }
  width: 100%;
  padding: 50px 0;

  a {
    text-decoration: none;
    color: white;
  }

  #contact-form {
    @include flex();
    flex-direction: column;
    width: 50%;
    color: #000;
    @media screen and (max-width: $media-l) {
      width: 90%;
    }

    h2 {
      background-color: #c7c7c7;
      width: 70%;
      padding: 15px 30px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      text-align: center;
      @media screen and (max-width: $media-l) {
        width: 90%;
      }
    }

    .contact-form-content {
      display: flex;
      flex-direction: column;
      padding: 10px 30px;
      width: 70%;
      background-color: #fff;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      @media screen and (max-width: $media-l) {
        width: 90%;
      }
    }
  }

  .contact-icons {
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
    @media screen and (max-width: $media-l) {
      width: 95%;
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      margin-bottom: 50px;
      margin-left: 20px;
      @media screen and (max-width: $media-m) {
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 30px;
      }
    }

    .contact-icon {
      cursor: pointer;
      margin: 5px 7px;
      display: inline-block;
      border: solid 2px #fff;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      font-size: 40px;
      color: white;
      transition: ease-in 0.1s;

      &:hover {
        transition: ease-in 0.2s;
        background-color: white;

        &:nth-child(2) {
          i {
            color: #d44638;
          }
        }

        &:nth-child(3) {
          i {
            color: #2867b2;
          }
        }

        &:nth-child(4) {
          i {
            color: #fca326;
          }
        }

        &:nth-child(5) {
          i {
            color: #4267b2;
          }
        }

        &:nth-child(6) {
          i {
            color: #e1306c;
          }
        }
      }

      i {
        margin-top: 12px;
      }
    }
  }
}

.submit-button:hover {
  background-color: #b80808;
}

.error-message {
  margin-top: 15px;
  color: #d31616;
  font-size: 25px;
}

.info-message {
  @extend .error-message;
  color: #46e738;
}
/****** CONTACT FORM ******/
// .contact-form {
//   background-color: rgba(128,128,128,0.5);
//   width: 30vw;
//   padding: 25px 18px 15px;
//   margin: 35px 0 0 $left-margin;
//   border-radius: 6px;
// }
//
// form {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//
//   label {
//     display: block;
//     color: white;
//     text-shadow: 0 0 10px black;
//     font-size: 1.4vw;
//   }
// }
//
// .contact-item {
//   width: 47%;
//
//   &:nth-child(even) {
//     padding-left: 1vw;
//   }
// }
//
// input[type=email],
// input[type=text],
// textarea {
//   width: 100%;
//   padding: 0.7vw;
//   border-radius: 4px;
//   box-sizing: border-box;
//   border: 2px solid black;
//   margin: 6px 0 16px;
//   resize: vertical;
// }
//
// input[type=button] {
//   margin-left: 0.5vw;
//   background-color: orange;
//   color: white;
//   padding: 12px 20px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }
//
// .error {
//   background-color: #ff8282;
// }
