$left-padding: 320px; // TODO: to vw

$intro-height: 20vw;

$link-trans: 0.8s ease-in;

$navbar-height: 15vh;



$bg-default-color: #252736;

$content-padding: 3vw 0;

$bg-skew: 6deg;
$bg-padding: 120px 0;

// Media query brake points
$media-xl: 1200px;
$media-l: 992px;
$media-m: 768px;
$media-s: 600px;
$media-xs: 320px;
