@import "../../stylings/_variables.scss";
@import "../../stylings/_mixins.scss";

$front-color: #3b2959;

.interests-wrapper {
  .nav-bar {
    padding-left: $left-padding;
    background-color: $front-color;
  }

  section {
    display: flex;
    min-height: 100vh - $navbar-height;
    &.front-page {
      background-color: $front-color;
      color: white;
    }

    .int-header {
      @extend .int-content;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 10px;
        color: inherit;
        background-image: linear-gradient(to top, transparent, transparent 9.99%,
         currentColor 10%, currentColor 90%, transparent 90.01%, transparent);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    }

    .int-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2vw 3vw;
      width: 50%;

      span, h3 {
        font-size: 3vw;
        width: 100%;
        &.front-header {
          position: relative;
          top: -$navbar-height/2;
        }
      }

      h3 {
        font-size: 2vw;
      }
    }
  }

}
