@import "../../stylings/_variables.scss";
@import "../../stylings/_mixins.scss";
$bar-radius: 20px;

#skills-content {
  color: white;
  padding: $content-padding;

  .skills-tech {
    @include flex;
    flex-direction: column;
    margin-top: 2vw;

    .skills-items {
      width: 50%;
      @media screen and (max-width: $media-l) {
        width: 60%;
      }
      @media screen and (max-width: $media-m) {
        width: 70%;
      }
      margin-bottom: 20px;

      .skill-name {
        font-size: 16px;
        padding: 0 0 4px 3px;
        @media screen and (max-width: $media-l) {
          font-size: 12px;
        }
        @media screen and (max-width: $media-s) {
          font-size: 10px;
        }
      }

      .skill-bar-background {
        border: 2px solid rgba(255, 255, 255, 0.8);
        background-image: linear-gradient(to bottom right, #adadad, black);
        // background-color: rgba(235, 235, 235, 0.4);
        // background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
        width: 100%;
        height: 21px;
        border-radius: $bar-radius;
        @media screen and (max-width: $media-m) {
          height: 18px;
        }
        @media screen and (max-width: $media-s) {
          height: 16px;
        }

        .skill-bar {
          height: 100%;
          border-radius: $bar-radius;
          @media screen and (max-width: $media-m) {
            height: 18px;
          }
          @media screen and (max-width: $media-s) {
            height: 16px;
          }
        }
      }
    }

    .tech-text {
      padding-top: 3vw;

      h3 {
        text-align: center;
        font-size: 2vw;
        @media screen and (max-width: $media-m) {
          font-size: 13px;
        }
        @media screen and (max-width: $media-s) {
          font-size: 11px;
        }
      }

      p {
        margin: 1.5vw 0;
        text-align: center;
        font-size: 1.7vw;
        @media screen and (max-width: $media-m) {
          font-size: 10px;
        }
        @media screen and (max-width: $media-s) {
          font-size: 8px;
        }
      }
    }
  }
}
