@import '../../stylings/_variables.scss';
@import '../../stylings/_mixins.scss';

$front-color: #150829;

.explorer-wrapper {
  .countrybar {
    display: flex;
    justify-content: space-evenly;
    background-color: $front-color;
    color: #fff;
    border-bottom: solid 1px rgb(92, 92, 92);

    .country {
      cursor: pointer;
      width: 45px;
      padding: 20px 20px;
      @media screen and (max-width: $media-l) {
        width: 35px;
        padding: 15px 15px;
      }
      @media screen and (max-width: $media-m) {
        width: 30px;
        padding: 10px 10px;
      }
      @media screen and (max-width: $media-s) {
        width: 25px;
        padding: 5px 5px;
      }
      @media screen and (max-width: 430px) {
        width: 20px;
        padding: 5px 5px;
      }
      @media screen and (max-width: 350px) {
        width: 15px;
        padding: 3px 3px;
      }

      img {
        width: 100%;
      }

      &:hover {
        background-color: rgba(168, 120, 185, 0.5);
      }
    }

    .selectedCountry {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  section {
    display: flex;
    flex-direction: row;
    // min-height: 100vh - $navbar-height;
    height: 700px;
    @media screen and (max-width: $media-xl) {
      height: 600px;
    }
    @media screen and (max-width: $media-l) {
      height: 500px;
    }
    @media screen and (max-width: $media-m) {
      padding-top: 50px;
      height: 400px;
      flex-direction: column;
    }

    &.front-page {
      // background-color: $front-color;
      color: white;
      padding-top: 50px;
      background: linear-gradient(170deg, rgba(21,8,41,1) 0%, rgba(57,7,94,1) 100%);
    }

    .explorer-header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 60px;

      @media screen and (max-width: $media-l) {
        font-size: 50px;
      }
      @media screen and (max-width: $media-m) {
        width: 100%;
        padding-bottom: 50px;
      }
      @media screen and (max-width: $media-s) {
        font-size: 45px;
      }
      @media screen and (max-width: 430px) {
        font-size: 32px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 10px;
        color: inherit;
        background-image: linear-gradient(
          to top,
          transparent,
          transparent 9.99%,
          currentColor 10%,
          currentColor 90%,
          transparent 90.01%,
          transparent
        );
        background-repeat: no-repeat;
        background-attachment: fixed;

        @media screen and (max-width: $media-m) {
          display: none;
        }
      }
    }

    .front-page-flag {
      width: 400px;
      @media screen and (max-width: $media-l) {
        width: 250px;
        margin-top: 40px;
      }
      @media screen and (max-width: $media-s) {
        width: 200px;
      }

      img {
        width: 100%;
      }
    }

    .explorer-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 60px;

      @media screen and (max-width: $media-m) {
        width: 100%;
      }

      .explorer-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        padding: 8px;
        margin: 8px;
        background-color: white;
        border: solid 1px black;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
        font-size: 60px;
        @media screen and (max-width: $media-xl) {
          width: 180px;
        }
        @media screen and (max-width: $media-l) {
          width: 135px;
        }
        @media screen and (max-width: $media-m) {
          width: 200px;
        }
        @media screen and (max-width: $media-s) {
          width: 170px;
        }
        @media screen and (max-width: 450px) {
          width: 120px;
        }
        @media screen and (max-width: $media-xs) {
          width: 100px;
        }
        img {
          width: 100%;
        }
      }

      .explorer-image-left {
        @extend .explorer-image;
        transform: rotate(8deg);
      }

      .explorer-image-right {
        @extend .explorer-image;
        transform: rotate(-8deg);
      }
    }
  }

  .countryArrow {
    display: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 40px;
    border: none;
    padding: 12px;
    position: absolute;
    @media screen and (max-width: $media-m) {
      display: block;
    }
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      color: #8414a7;
    }
  }

  .countryLeftArrow {
    @extend .countryArrow;
    margin-right: 70px;
    border-radius: 10px 3px 3px 10px;
    left: 40px;
    @media screen and (max-width: $media-s) {
      left: 35px;
      font-size: 35px;
      padding: 10px;
    }
    @media screen and (max-width: 480px) {
      left: 12px;
      font-size: 25px;
      padding: 8px;
    }
  }

  .countryRightArrow {
    @extend .countryArrow;
    margin-left: 70px;
    border-radius: 3px 10px 10px 3px;
    right: 40px;
    @media screen and (max-width: $media-s) {
      right: 35px;
      font-size: 33px;
      padding: 10px;
    }
    @media screen and (max-width: 480px) {
      right: 12px;
      font-size: 25px;
      padding: 8px;
    }
  }

  .whitebar {
    color: white;
    background-color: white;
    height: 50px;
  }
}
