@import "../../stylings/_variables.scss";
@import "../../stylings/_mixins.scss";
$timline-color: #f0a630;
$timeline-bg: rgb(245, 245, 245);

#timeline-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #fff;
  padding: $content-padding;
  color: #000;

  * {
    box-sizing: border-box;
  }
}

.timelines {
  width: 80%;
  padding-bottom: 3vw;
  @media screen and (max-width: $media-s) {
    width: 90%;
  }
}

.worktype-header {
  text-align: center;
  color: $bg-default-color;
  font-size: 2vw;
  background-image:linear-gradient(#afafaf, $timeline-bg, #afafaf);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 0;
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width: $media-s) {
    font-size: 16px;
  }
}
/* The actual timeline (the vertical ruler) */

.timeline {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $timeline-bg;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $timline-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    /* Place the timelime to the left */
    @media screen and (max-width: 600px) {
      left: 31px;
    }
  }
}
/* Place the container to the left */

.left {
  left: 0;
  /* Add arrows to the left container (pointing right) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $timline-color;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $timline-color;
  }
  @media screen and (max-width: 600px) {
    &:after {
      left: 15px;
    }
  }
}
/* Place the container to the right */
.right {
  left: 50%;
  /* Add arrows to the right container (pointing left) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 10;
    left: 30px;
    border: medium solid $timline-color;
    border-width: 10px 10px 10px 0;
    border-color: transparent $timline-color transparent transparent;
  }
  /* Fix the circle for containers on the right side */
  &:after {
    left: -16px;
  }
  @media screen and (max-width: 600px) {
    left: 0;

    &:after {
      left: 15px;
    }
  }
}
/* Container around content */

.container {
  padding: 20px 40px;
  position: relative;
  width: 50%;
  /* The circles on the timeline */
  &:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid $timline-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  @media screen and (max-width: $media-s) {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    /* Make sure that all arrows are pointing leftwards */
    &:before {
      left: 60px;
      border: medium solid $timline-color;
      border-width: 10px 10px 10px 0;
      border-color: transparent $timline-color transparent transparent;
    }
  }
}
/* The actual content */
.content {
  padding: 20px 30px;
  background-color: $timline-color;
  border: solid 3px $timline-color;
  position: relative;
  border-radius: 4px;

  h2 {
    font-size: 1.5vw;
    color: black;
    @media screen and (max-width: $media-s) {
      font-size: 14px;
    }
  }

  h3 {
    font-size: 1.5vw;
    color: black;
    @media screen and (max-width: $media-s) {
      font-size: 13px;
    }
  }

  p {
    font-size: 1vw;
    color: rgb(54, 54, 54);
    @media screen and (max-width: $media-s) {
      font-size: 11px;
    }
  }
}
