@import '../../stylings/_variables.scss';
@import '../../stylings/_mixins.scss';

$image-height: 170px;
$square-height-max: 200px;
$selected-image-height: 300px;

.shadowed-header {
  box-shadow: 0px 0px 20px 20px #fff;
  background-color: #fff;
  margin-top: 20px;
}

.sports-container {
  padding-top: 50px;
  padding: $content-padding;
  transition: background-color 0.8s ease-out;
  border-top: solid 1px #9c9c9c;
}

.sportsBackButtonContainer {
  margin-left: 100px;

  @media screen and (max-width: $media-m) {
    margin-left: 30px;
  }

  @media screen and (max-width: 450px) {
    margin-left: 15px;
  }
}

.backIcon {
  display: inline;
  margin-right: 5px;
  font-size: 20px;
}

.backText {
  display: inline;
}

.sportContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $square-height-max;
  height: $square-height-max;
  padding: 20px;
  cursor: pointer;
  transition: ease 0.3s;

  &:hover {
    width: $square-height-max;
    height: $square-height-max;
    box-shadow: -2px -2px 6px 6px rgba(0, 0, 0, 0.75);
    transition: ease 0.5s;
  }
}

.sports {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  height: $image-height;
  justify-content: center;
  width: 50%;

  @media screen and (max-width: $media-s) {
    width: 100%;
  }
}

.sport1,
.sport6 {
  @extend .sport;
}

.sport0,
.sport5 {
  @extend .sport;
}

.sport2,
.sport3,
.sport4 {
  @extend .sport;
  width: 33%;

  @media screen and (max-width: $media-l) {
    width: 50%;
  }
  @media screen and (max-width: $media-s) {
    width: 100%;
  }
}

.sport7 {
  @extend .sport;
  width: 100%;

  @media screen and (max-width: $media-l) {
    width: 50%;
  }
  @media screen and (max-width: $media-s) {
    width: 100%;
  }
}

.sportsSportHeader {
  font-size: 38px;
  margin-bottom: 5px;
  font-family: 'Grenze', serif;
}

.sportSquare {
  box-shadow: -1px -1px 7px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  width: $image-height;
  height: $image-height;
  color: white;

  img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}

// SELECTED SPORT

.selectedSquare {
  @extend .sportSquare;
  width: $selected-image-height;
  height: $selected-image-height;
  transition: ease 0.5s;

  &:hover {
    width: $selected-image-height;
    height: $selected-image-height;
    box-shadow: -2px -2px 8px 4px rgba(0, 0, 0, 0.8);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.selectedSportContainer {
  display: flex;
  height: 600px;

  @media screen and (max-width: $media-m) {
    flex-direction: column;
    height: 800px;
  }
}

$top-padding: 120px;
$top-padding-small: 50px;

.selectedSportSquareContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  padding-top: $top-padding;

  @media screen and (max-width: $media-m) {
    width: 100%;
  }

  @media screen and (max-width: $media-s) {
    padding-top: $top-padding-small;
  }
}

.selectedSportInfoContainer {
  width: 50%;
  box-sizing: border-box;
  padding-top: $top-padding;
  position: relative;

  @media screen and (max-width: $media-m) {
    width: 100%;
  }

  @media screen and (max-width: $media-s) {
    padding-top: $top-padding-small;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(
      to top,
      transparent,
      transparent 9.99%,
      currentColor 10%,
      currentColor 90%,
      transparent 90.01%,
      transparent
    );
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: $media-m) {
      display: none;
    }
  }
}

.sport-header {
  font-family: 'Grenze', serif;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 45px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px orange;

  @media screen and (min-width: $media-s) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: $media-xl) {
    margin-bottom: 40px;
  }

  p {
    border-bottom: solid 4px orange;
    padding: 0;
  }
}

.sport-description {
  margin-left: 30px;
  width: 80%;
  @media screen and (min-width: $media-xl) {
    margin-left: 50px;
  }

  @media screen and (min-width: 1400px) {
    margin-left: 100px;
  }
}
