/* You can add global styles to this file, and also import other style files */
@import "./stylings/_variables.scss";

* {
  margin: 0;
  padding: 0;
}

app-root,
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.app-wrapper {
  min-height: 100%;
}

.content-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3vw;
  @media screen and (max-width: $media-m) {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2.8vw;
    padding-bottom: 2px;
    border-bottom: solid 4px orange;
    margin-bottom: 2.5vw;
    @media screen and (max-width: $media-l) {
      font-size: 30px;
      border-bottom: solid 3px orange;
      margin-bottom: 22px;
    }
  }

  p {
    text-align: center;
    font-size: 1.8vw;
    padding: 0 20px;
    @media screen and (max-width: $media-xl) {
      font-size: 23px;
    }
    @media screen and (max-width: $media-l) {
      font-size: 21px;
    }
    @media screen and (max-width: $media-m) {
      font-size: 18px;
    }
    @media screen and (max-width: $media-s) {
      font-size: 15px;
    }
    @media screen and (max-width: $media-xs) {
      font-size: 12px;
    }
  }
}

.page-header {
  text-align: center;
  font-size: 2vw;
  color: white;
  padding: 1.5vw;
  background-color: rgba(179, 107, 0, 0.85);
}

.text-right {
  text-align: right;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.yellow {
  color: #d8cc22;
}

.black {
  color: black;
}

.magenta {
  color: magenta;
}

.skewed-bg {
  transform: skew(0deg, (-$bg-skew)) translateY(200px);
}

.submit-button {
  width: 50px;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
