@import '../../stylings/_variables.scss';
@import '../../stylings/_mixins.scss';
$home-width: 70%;

%home-wrapper {
  padding-left: $left-padding;
  width: $home-width;
}

.bg-explorer {
  background-color: rgba(196, 41, 227, 0.9);
  user-select: none;
  &-hover {
    @extend .bg-explorer;
    &:hover {
      background-color: rgb(86, 0, 107);
    }
  }
}

.bg-sport {
  background-color: rgba(78, 227, 41, 0.9);
  user-select: none;
  &-hover {
    @extend .bg-sport;
    &:hover {
      background-color: rgb(32, 114, 0);
    }
  }
}

.bg-developer {
  background-color: rgba(227, 128, 41, 0.95);
  user-select: none;
  &-hover {
    @extend .bg-developer;
    &:hover {
      background-color: rgb(218, 62, 0);
    }
  }
}

$front-big: 1000px;
$front-big1: 900px;
$front-xl: 800px;
$front-m: 600px;
$front-s: 500px;

.front {
  @include flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: $front-big;

  @media screen and (max-width: 1700px) {
    height: $front-big1;
  }

  @media screen and (max-width: $media-xl) {
    height: $front-xl;
  }

  @media screen and (max-width: $media-m) {
    height: $front-m;
  }

  @media screen and (max-width: $media-s) {
    height: $front-s;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: $front-big;
  @include flex;
  background-size: cover;
  &-explorer {
    @extend .wrapper;
    background-image: url('/assets/images/cover.jpg');
  }

  &-sport {
    @extend .wrapper;
    background-image: url('/assets/images/sport.jpg');
    @media screen and (max-width: 1350px) {
      background-image: url('/assets/images/sport_crop.jpg');
    }
  }

  &-developer {
    @extend .wrapper;
    background-image: url('/assets/images/tiili_crop.jpg');
    @media screen and (max-width: 1350px) {
      background-image: url('/assets/images/tiili.jpg');
    }
  }

  @media screen and (max-width: 1700px) {
    height: $front-big1;
  }

  @media screen and (max-width: $media-xl) {
    height: $front-xl;
  }

  @media screen and (max-width: $media-m) {
    height: $front-m;
  }

  @media screen and (max-width: $media-s) {
    height: $front-s;
  }
}

.dim-top {
  position: absolute;
  top: 0;
  height: 115px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  @media screen and (max-width: $media-m) {
    height: 90px;
  }
  @media screen and (max-width: $media-s) {
    height: 72px;
  }
  // @media screen and (max-width: 400px) {
  //   height: 47px;
  // }
}

.rotate {
  top: 21px;
  position: absolute;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 12px 2px white;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  padding: 15px;
  user-select: none;
  -webkit-user-select: none;
  @media screen and (max-width: $media-xl) {
    padding: 20px;
  }
  @media screen and (max-width: $media-m) {
    padding: 15px;
    font-size: 20px;
    top: 18px;
  }
  @media screen and (max-width: $media-s) {
    padding: 8px;
    top: 12px;
  }
  // @media screen and (max-width: 400px) {
  //   padding: 6px;
  //   font-size: 15px;
  //   top: 7px;
  // }
  // @media screen and (max-width: $media-xs) {
  //   display: none;
  // }

  &-left {
    @extend .rotate;
    left: 100px;
    border-radius: 10px 3px 3px 10px;
    @media screen and (max-width: $media-xl) {
      left: 50px;
    }
    @media screen and (max-width: $media-m) {
      left: 20px;
    }
    @media screen and (max-width: $media-s) {
      left: 10px;
    }

    &:hover {
      box-shadow: 0px 0px 12px 5px white;
      color: white;
    }
  }

  &-right {
    @extend .rotate;
    right: 100px;
    border-radius: 3px 10px 10px 3px;
    @media screen and (max-width: $media-xl) {
      right: 50px;
    }
    @media screen and (max-width: $media-m) {
      right: 20px;
    }
    @media screen and (max-width: $media-s) {
      right: 10px;
    }

    &:hover {
      box-shadow: 0px 0px 12px 5px white;
      color: white;
    }
  }
}

$carousel-width: 300px;
$carousel-width-m: 195px;
$carousel-width-s: 160px;
$carousel-width-400: 120px;

$carousel-height: 110px;
$carousel-height-m: 75px;
$carousel-height-s: 60px;
$carousel-height-400: 40px;

.carousel {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: $carousel-width;
  height: $carousel-height;
  margin: 0;
  perspective: 1000px;

  @media screen and (max-width: $media-m) {
    width: $carousel-width-m;
    height: $carousel-height-m;
  }
  @media screen and (max-width: $media-s) {
    width: $carousel-width-s;
    height: $carousel-height-s;
  }
  // @media screen and (max-width: 400px) {
  //   width: $carousel-width-400;
  //   height: $carousel-height-400;
  // }
}

.pagination {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

$translate: 20vw;

.pag-item {
  @include flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: $carousel-width;
  height: $carousel-height;
  border-radius: 6px;
  color: white;
  border: solid 4px white;
  transform-origin: center;
  font-size: 35px;

  @media screen and (max-width: $media-m) {
    width: $carousel-width-m;
    height: $carousel-height-m;
    font-size: 25px;
  }
  @media screen and (max-width: $media-s) {
    width: $carousel-width-s;
    height: $carousel-height-s;
    font-size: 20px;
    border: solid 2px white;
  }
  // @media screen and (max-width: 400px) {
  //   width: $carousel-width-400;
  //   height: $carousel-height-400;
  //   font-size: 15px;
  // }

  &-right {
    @extend .pag-item;
    transform: rotateY(120deg) translateZ($translate);
  }

  &-center {
    @extend .pag-item;
    transform: rotateY(0) translateZ($translate);
  }

  &-left {
    @extend .pag-item;
    transform: rotateY(240deg) translateZ($translate);
  }
}

.front-name {
  font-size: 90px;
  color: white;
  font-family: 'Pridi', serif;
  text-shadow: -3px -1px 1px #000;

  @media screen and (max-width: $media-xl) {
    font-size: 60px;
  }

  @media screen and (max-width: $media-l) {
    font-size: 50px;
  }

  @media screen and (max-width: $media-s) {
    font-size: 35px;
  }

  @media screen and (max-width: $media-xs) {
    font-size: 25px;
  }
}

.front-desc {
  @extend .front-name;
  font-size: 38px;

  @media screen and (max-width: $media-xl) {
    font-size: 25px;
  }

  @media screen and (max-width: $media-m) {
    font-size: 20px;
  }

  @media screen and (max-width: $media-s) {
    font-size: 13px;
  }

  @media screen and (max-width: $media-xs) {
    font-size: 11px;
  }
}

.scroll {
  position: absolute;
  bottom: 2.8vw;
  text-align: center;
  color: red;
  font-weight: 600;

  &-arrow {
    font-size: 25px;
  }
}

// .intro-content {
//   padding-top: 40px;
//   padding-left: $left-padding;
//   width: 60%;
//   height: 100%;
//   box-sizing: border-box;
// }

// .prof {
//   width: 100%;
//   height: 450px;
//   background-color: white;
//   box-shadow: inset 1px 1px 5px 1px black;
//   box-sizing: border-box;
// }

// .prof-wrapper {
//   @extend %home-wrapper;
//   @include flex(space-between);
//   height: 100%;
// }

// .prof-clmn {
//   height: 70%;
//   width: 30%;
//   box-shadow: 1px 1px 10px 0 #a3a3a3;
//   border-radius: 5px;
//   padding: 15px 40px;
//   box-sizing: border-box;

//   h2 {
//     padding-bottom: 10px;
//     margin-bottom: 15px;
//     border-bottom: solid 2px grey;
//   }

//   p {
//     font-size: 20px;
//   }

//   img {
//     width: 25%;
//     margin: 0 auto;
//     display: block;
//   }
// }

// .intrests-bg {
//   background-image: url("/assets/images/cover_rotated.jpg");
//   background-attachment: fixed;
//   background-position: top;
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
// }

// .intrests-wrapper {
//   @include flex;
//   box-sizing: border-box;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.8);
//   padding: 100px 0;
// }

// .interest-clmn {
//   position: relative;
//   @include flex;
//   flex-direction: column;
//   background-color: rgba(200, 200, 200, 0.35);
//   padding: 40px 0 80px;
//   margin: 0 40px;
//   width: 18%;
//   border-radius: 25px 5px 25px;
//   transition: 0.4s ease;
// }

// .interest-hover {
//   background-color: rgba(255, 255, 255, 0.6);
//   transition: 0.8s ease;
//   padding: 65px 0 90px;
//   width: 19%;
// }

// .hovered {
//   cursor: none;
//   transition: 0.4s ease;
//   background-color: rgba(226, 152, 2, 0.5);
// }

// .img-content {
//   padding: 17px;
//   margin-bottom: 15px;
//   border: solid 3px black;
//   border-radius: 50%;
//   transition: 0.4s ease;
// }

// .text-content {
//   @include flex;
//   flex-direction: column;

//   h1 {
//     margin-bottom: 10px;
//   }

//   a {
//     position: absolute;
//     bottom: 20px;
//     border-radius: 28px;
//     padding: 5px 11px;
//     text-decoration: none;
//     color: white;
//     background-image: linear-gradient(to bottom right, #301c00, #8c5405);

//     &:hover {
//       background-image: linear-gradient(to bottom right, #af6a0a, #e0b272);
//     }
//   }
// }
