@import "../../stylings/_variables.scss";

$bar-color: #bf8819;

.developer-content {
  background-color: $bg-default-color;
}

.developer-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: solid 1px $bar-color;

  @media screen and (max-width: $media-s) {
    padding: 9px 0;
  }

  &-item {
    color: $bar-color;
    text-decoration: none;
    padding: 0 3vw;
    font-size: 14px;

    @media screen and (max-width: $media-s) {
      font-size: 9px;
    }

    @media screen and (max-width: $media-xs) {
      font-size: 7px;
      padding: 0 2vw;
    }

    &:hover {
      text-shadow: 0px 0px 7px white;
    }
  }
}
